body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat;
	background-image: url("https://images.unsplash.com/photo-1577200080776-fe8b6c5559dc?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: contain;
}

.card-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search-bar {
	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 20px;
	padding: 10px 11px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 40rem;
    flex: 1;
    background: transparent;
}

.search-bar i {
	cursor: pointer;
	color: black;
}

.search-btn {
	background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.cards {
	padding: 15px;
	width: 350px;
	background: #222;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
	user-select: none;
}

.cover-photo {
	position: relative;
	background: url(https://i.imgur.com/jxyuizJ.jpeg);
	background-size: cover;
	height: 180px;
	border-radius: 5px 5px 0 0;
}

.profile {
	position: absolute;
	width: 120px;
	bottom: -60px;
	left: 15px;
	border-radius: 50%;
	border: 2px solid #222;
	background: #222;
	padding: 5px;
}

.profile-name {
	font-size: 20px;
	margin: 25px 0 0 120px;
	color: #fff;
}

.about {
	margin-top: 30px;
	line-height: 1.6;
	color: white;
}

.btn {
	margin: 30px 15px;
	background: #7ce3ff;
	padding: 10px 25px;
	border-radius: 3px;
	border: 1px solid #7ce3ff;
	font-weight: bold;
	font-family: Montserrat;
	cursor: pointer;
	transition: 0.2s;
}

.btn:last-of-type {
	background: transparent;
	border-color: #7ce3ff;
	color: #7ce3ff;
}

.btn:hover {
	background: #7ce3ff;
	color: green;
}

.icons {
	width: 180px;
	margin: 0 auto 10px;
	display: flex;
	justify-content: space-between;
	gap: 15px;
	color: white;
}

.icons i {
	cursor: pointer;
	padding: 5px;
	font-size: 18px;
	transition: 0.2s;
}

.icons i:hover {
	color: #7ce3ff;
}